<main>
    <div id="container">
        <header id="global_header" class="bar">
          <nav id="global_header_nav">
            <!-- <a href="/" title="Retour à l’accueil" id="main_logo_link">
              <img src="http://www.infop7.org/views/static/images/logo32transp.png" width="32" height="32" alt="IP7" class="logo">
            </a>
             -->
            <ul id="cursus_nav" class="nav-group">
              <li class="navlink cursus"><a href="/cursus/L1"><abbr title="Licence 1">L1</abbr></a></li>
              <li class="navlink cursus"><a href="/cursus/L2"><abbr title="Licence 2">L2</abbr></a></li>
              <li class="navlink cursus"><a href="/cursus/L3"><abbr title="Licence 3">L3</abbr></a></li>
              <li class="navlink cursus"><a href="/cursus/M1"><abbr title="Master 1">M1</abbr></a></li>
              <li class="navlink cursus"><a href="/cursus/M2"><abbr title="Master 2">M2</abbr></a></li>
            </ul>
            
           
            <form id="search" action="/recherche" method="GET">
              <label for="q" class="hidden explicit">Recherche</label>
              <input type="search" id="q" name="q" placeholder="Recherche…" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
              <input type="submit" value="Ok">
            </form>
          </nav>
        </header>
        
        
        <ol id="breadcrumbs">
          <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="navlink">
            <a href="/" itemprop="url">
              <span itemprop="title">Accueil</span>
            </a>
          </li>
          <!-- <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="navlink next">
          <a href="/actus/archives" itemprop="url">
            <span itemprop="title">Archives des actualités</span>
          </a>
          </li>   -->
        </ol>
        
        
        <section id="main_content">
          <ul id="news-list">
            <li class="inline-news" data-id="76" id="news-76"><span class="news-date">(<time datetime="2013-02-10T23:18:16+01:00" title="le 10/02/2024">il y a 2 jours</time>)</span> <span class="news-title">2éme partie du cours le 1er mars</span> <span class="news-body"><p>Le&nbsp;partiel d’IO2 aura lieu le 1er mars, dans l’amphi du cours, en sessions de 20 minutes (QCM + une ou deux questions rapides d’écriture de code).</p>
              </span></li>
            <li class="inline-news" data-id="75" id="news-75"><span class="news-date">(<time datetime="2024-02-07T15:26:00+01:00" title="le 07/02/2024">il y a 4 jours</time>)</span> <span class="news-title">Résultats de prolog et programmation par contraintes session 1</span> <span class="news-body"><p>Les notes de prolog et programmation par contraintes sont disponibles à l'UFR d'informatique</p>
              </span></li>
            <li class="inline-news" data-id="74" id="news-74"><span class="news-date">(<time datetime="2024-02-07T15:23:09+01:00" title="le 07/02/2024">il y a 6 jours</time>)</span> <span class="news-title">Résultats de programmation en C session 2</span> <span class="news-body"><p>Les notes de circuits et architecture sont disponibles à l'UFR d'informatique</p>
              </span></li>
            <li class="inline-news" data-id="73" id="news-73"><span class="news-date">(<time datetime="2024-02-07T15:21:36+01:00" title="le 07/02/2024">il y a 7 jours</time>)</span> <span class="news-title">Résultats d'anglais session 1</span> <span class="news-body"><p>Les notes d'anglais sont disponibles à l'UFR d'informatique</p>
              </span></li>
            <li class="inline-news" data-id="72" id="news-72"><span class="news-date">(<time datetime="2024-02-07T15:20:43+01:00" title="le 07/02/2024">il y a 8 jours</time>)</span> <span class="news-title">Résultats de programmation système session 1</span> <span class="news-body"><p>Les notes de programmation dystème sont disponibles à l'UFR d'informatique</p>
              </span></li>
            <li class="inline-news" data-id="71" id="news-71"><span class="news-date">(<time datetime="2024-02-07T15:19:08+01:00" title="le 07/02/2024">il y a 9 jours</time>)</span> <span class="news-title">Résultats d'Algorithmique session 1</span> <span class="news-body"><p>Les notes d'Algorithmique sont disponibles à l'UFR d'informatique</p>
              </span></li>
            <li class="inline-news" data-id="70" id="news-70"><span class="news-date">(<time datetime="2024-02-07T15:14:01+01:00" title="le 07/02/2024">il y a 11 jours</time>)</span> <span class="news-title">Cours sur POO session 3</span> <span class="news-body"><p>Les notes de SY5 sont disponibles</p>
              </span></li>
            <li class="inline-news" data-id="69" id="news-69"><span class="news-date">(<time datetime="2024-02-07T15:13:22+01:00" title="le 07/02/2024">il y a 15 jours</time>)</span> <span class="news-title">Cours sur POO session 2</span> <span class="news-body"><p>Les notes de MD5 sont disponibles</p>
              </span></li>
            <li class="inline-news" data-id="68" id="news-68"><span class="news-date">(<time datetime="2024-02-07T14:02:18+01:00" title="le 07/02/2024">il y a 9 jours</time>)</span> <span class="news-title">Pas de cours le 21 février</span> <span class="news-body"><p>Il n’y aura pas de cours de MV6 le jeudi 21 février 2024.</p>
              </span></li>
            <li class="inline-news" data-id="67" id="news-67"><span class="news-date">(<time datetime="2024-02-06T22:58:09+01:00" title="le 06/02/2024">il y a 9 jours</time>)</span> <span class="news-title">Résultats de PO5 session 1</span> <span class="news-body"><p>Les résultats de PO5 sont disponibles</p>
              </span></li>
            <li class="inline-news" data-id="66" id="news-66"><span class="news-date">(<time datetime="2024-02-06T17:13:36+01:00" title="le 06/02/2024">il y a 10 jours</time>)</span> <span class="news-title">Résultats disponibles</span> <span class="news-body"><p>Les notes du cours de Calculabilité et complexité sont disponibles à l’UFR.</p>
              </span></li>
            <li class="inline-news" data-id="64" id="news-64"><span class="news-date">(<time datetime="2024-01-29T14:06:41+01:00" title="le 29/01/2024">il y a 18 jours</time>)</span> <span class="news-title">Début des cours d’ED6 la semaine du 28 janvier</span> <span class="news-body"><p>Le premier cours d’ED6 a eu lieu le mardi 29 janvier à 10h30.</p>
              </span></li>
            <li class="inline-news" data-id="63" id="news-63"><span class="news-date">(<time datetime="2024-01-29T13:11:44+01:00" title="le 29/01/2024">il y a 18 jours</time>)</span> <span class="news-title">Consultation copies OL3 le 31/01</span> <span class="news-body"><p>Consultation des copies d'OL3 le jeudi 31 janvier entre 12h30 et 13h30 en salle 199 A</p>
              </span></li>
            <li class="inline-news" data-id="62" id="news-62"><span class="news-date">(<time datetime="2024-01-29T13:08:05+01:00" title="le 29/01/2024">il y a 18 jours</time>)</span> <span class="news-title">Résultats de LM1 session 1</span> <span class="news-body"><p>Les notes de LM1 sont disponibles</p>
              </span></li>
            <li class="inline-news" data-id="61" id="news-61"><span class="news-date">(<time datetime="2024-01-29T13:05:08+01:00" title="le 29/01/2024">il y a 18 jours</time>)</span> <span class="news-title">Résultats d'OL3 session 1&nbsp;</span> <span class="news-body"><p>Les notes d'OL3 sont disponibles</p>
              </span></li>
            <li class="inline-news" data-id="60" id="news-60"><span class="news-date">(<time datetime="2024-01-29T00:45:19+01:00" title="le 29/01/2024">il y a 18 jours</time>)</span> <span class="news-title">Compte-rendu de la réunion de présentation du S6</span> <span class="news-body"><p>Un <a href="/cursus/L3/global/576/2012-2024/Compte-rendu-de-la-réunion-de-rentrée-des-L3">compte-rendu de la réunion d’information des L3</a>, qui a eu lieu lundi 21 janvier, est disponible.</p>
              </span></li>
            <li class="inline-news" data-id="59" id="news-59"><span class="news-date">(<time datetime="2024-01-28T21:33:13+01:00" title="le 28/01/2024">il y a 19 jours</time>)</span> <span class="news-title">Début des cours de LI6 le 28/01</span> <span class="news-body"><p>Le premier cours de LI6 a eu lieu le lundi 28 janvier 2024. L’enseignant a présenté le cours et fait une introduction aux problématiques liées aux TAL (traitements automatisés des langues).</p>
              </span></li>
            <li class="inline-news" data-id="58" id="news-58"><span class="news-date">(<time datetime="2024-01-28T14:25:05+01:00" title="le 28/01/2024">il y a 19 jours</time>)</span> <span class="news-title">Les TD de LO6 commencent la semaine du 28/01</span> <span class="news-body"><p>L’enseignant responsable du cours,&nbsp;Peter Habermehl, confirme sur son <a href="http://www.liafa.univ-paris-diderot.fr/~haberm/cours/logique/index.html">site</a> que les TD et le cours commencent la semaine du 28/01.</p>
              </span></li>
            <li class="inline-news" data-id="57" id="news-57"><span class="news-date">(<time datetime="2024-01-28T13:04:09+01:00" title="le 28/01/2024">il y a 19 jours</time>)</span> <span class="news-title">Les TD de PR6 commencent la semaine du 04/02</span> <span class="news-body"><p>L’enseignant responsable du cours, <a href="http://www.liafa.univ-paris-diderot.fr/~yunes/">Jean-Baptiste Yunès</a>, nous a confirmé que les TD de PR6 commenceront la semaine du 04/02/2024, tandis que le premier cours aura lieu cette semaine (jeudi 31 janvier).</p>
              </span></li>
            <li class="inline-news" data-id="56" id="news-56"><span class="news-date">(<time datetime="2024-01-26T15:02:28+01:00" title="le 26/01/2024">il y a 21 jours</time>)</span> <span class="news-title">Échange des horaire d'amphithéâtre le 6 février</span> <span class="news-body"><p>Le 6 février 2012 le cours magistral de LC4 permutera avec celui d'AF4. &nbsp;AF4 : 10h30 à 12h30LC4 : 14h30 à 16h30</p>
              </span></li>
            <li class="inline-news" data-id="55" id="news-55"><span class="news-date">(<time datetime="2024-01-26T15:01:57+01:00" title="le 26/01/2024">il y a 21 jours</time>)</span> <span class="news-title">Échange des horaire d'amphithéâtre le 6 février</span> <span class="news-body"><p>Le 6 février 2012 le cours magistral de LC4 permutera avec celui d'AF4. &nbsp;AF4 : 10h30 à 12h30 LC4 : 14h30 à 16h30</p>
              </span></li>
            <li class="inline-news" data-id="54" id="news-54"><span class="news-date">(<time datetime="2024-01-25T21:19:25+01:00" title="le 25/01/2024">il y a 22 jours</time>)</span> <span class="news-title">Résultats d'anglais session 1</span> <span class="news-body"><p>Les notes d'anglais sont disponibles (depuis le 25/01)</p>
              </span></li>
            <li class="inline-news" data-id="53" id="news-53"><span class="news-date">(<time datetime="2024-01-25T21:18:49+01:00" title="le 25/01/2024">il y a 22 jours</time>)</span> <span class="news-title">Résultats d'IK3 session 1</span> <span class="news-body"><p>Les notes d'IK3 sont disponibles (depuis le 25/01)</p>
              </span></li>
            <li class="inline-news" data-id="52" id="news-52"><span class="news-date">(<time datetime="2024-01-25T21:14:20+01:00" title="le 25/01/2024">il y a 22 jours</time>)</span> <span class="news-title">Résultats de IK3 session 1</span> <span class="news-body"><p>Les notes d'IK3 sont disponibles (depuis le 25/01)</p>
              </span></li>
            <li class="inline-news" data-id="51" id="news-51"><span class="news-date">(<time datetime="2024-01-24T12:33:41+01:00" title="le 24/01/2024">il y a 23 jours</time>)</span> <span class="news-title">Affichage des notes de PF5</span> <span class="news-body"><p>Les notes de PF5 sont affichées à l’UFR Informatique (bâtiment Sophie Germain, 3<sup>e</sup> étage. Il faut demander un badge à l’accueil pour y accéder).</p>
              </span></li>
            <li class="inline-news" data-id="50" id="news-50"><span class="news-date">(<time datetime="2024-01-24T10:54:30+01:00" title="le 24/01/2024">il y a 23 jours</time>)</span> <span class="news-title">Atelier d’initiation aux objets en Java pour les L1</span> <span class="news-body"><p>Un atelier d’initiation aux objets en Java pour les L1 est organisé vendredi 24 janvier 2024 à 13h30 en salle 471E. L’objectif est de présenter la notion d’objet en vue de se préparer à <a href="/cursus/L1/TO2">TO2</a>, la suite d’<a href="/cursus/L1/IF1">IF1</a>. L’atelier sera animé par Karim et <a href="/p/Iskeinder">Iskeinder</a>.</p>
              </span></li>
            <li class="inline-news" data-id="49" id="news-49"><span class="news-date">(<time datetime="2024-01-23T22:38:32+01:00" title="le 23/01/2024">il y a 23 jours</time>)</span> <span class="news-title">Inscriptions aux TD d’Anglais ouvertes</span> <span class="news-body"><p>Les inscriptions aux TD d’Anglais de L3 sont ouvertes jusqu’au 15 février 2024. Rendez-vous sur le <a href="https://auth-portefeuille.eila.univ-paris-diderot.fr/">portefeuille LANSAD</a> pour vous inscrire.</p>
              </span></li>
            <li class="inline-news" data-id="48" id="news-48"><span class="news-date">(<time datetime="2024-01-23T22:20:46+01:00" title="le 23/01/2024">il y a 23 jours</time>)</span> <span class="news-title">Résultats de AL3 session 1</span> <span class="news-body"><p>Les notes de AL3 sont disponibles (depuis le 22/01)</p>
              </span></li>
            <li class="inline-news" data-id="47" id="news-47"><span class="news-date">(<time datetime="2024-01-23T22:19:44+01:00" title="le 23/01/2024">il y a 23 jours</time>)</span> <span class="news-title">Résultats PP3 session 1</span> <span class="news-body"><p>Les notes de PP3 sont disponibles (depuis le 22/01)</p>
              </span></li>
            <li class="inline-news" data-id="46" id="news-46"><span class="news-date">(<time datetime="2024-01-22T15:40:51+01:00" title="le 22/01/2024">il y a 25 jours</time>)</span> <span class="news-title">Résultats de MI3 session 1</span> <span class="news-body"><p>Les notes de MI3 sont disponibles à Condorcet (depuis le 22/01).</p>
              </span></li>
            <li class="inline-news" data-id="45" id="news-45"><span class="news-date">(<time datetime="2024-01-21T19:55:36+01:00" title="le 21/01/2024">il y a 26 jours</time>)</span> <span class="news-title">Cours LS4</span> <span class="news-body"><p>Les cours-TP de LS4 commencent à partir de la semaine du 21 janvier 2024</p>
              </span></li>
            <li class="inline-news" data-id="44" id="news-44"><span class="news-date">(<time datetime="2024-01-21T19:54:42+01:00" title="le 21/01/2024">il y a 26 jours</time>)</span> <span class="news-title">Cours CI2</span> <span class="news-body"><p>Les cours-TD de CI2 commencent à partir de la semaine du 21 janvier 2024</p>
              </span></li>
            <li class="inline-news" data-id="43" id="news-43"><span class="news-date">(<time datetime="2024-01-21T19:53:50+01:00" title="le 21/01/2024">il y a 26 jours</time>)</span> <span class="news-title">Cours de TO2</span> <span class="news-body"><p>Pour les TD et les TP de TO2 c'est à partir du 28 janvier 2024</p>
              </span></li>
            <li class="inline-news" data-id="42" id="news-42"><span class="news-date">(<time datetime="2024-01-21T12:20:13+01:00" title="le 21/01/2024">il y a 26 jours</time>)</span> <span class="news-title">Résultats d'IS1 session 1</span> <span class="news-body"><p>Les notes d'IS1 sont disponibles (depuis le 21/01)</p>
              </span></li>
            <li class="inline-news" data-id="41" id="news-41"><span class="news-date">(<time datetime="2024-01-21T12:19:30+01:00" title="le 21/01/2024">il y a 26 jours</time>)</span> <span class="news-title">Résultats PF1 session 1&nbsp;</span> <span class="news-body"><p>Les notes de PF1 sont disponibles (depuis le 18/01)</p>
              </span></li>
            <li class="inline-news" data-id="40" id="news-40"><span class="news-date">(<time datetime="2024-01-15T16:07:42+01:00" title="le 15/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Consultation des copies le 17/01/2024</span> <span class="news-body"><p>Consultation des copies de MM1 le 17 janvier 2024, entre 12h30 et 14h30, en salle 411B.</p>
              </span></li>
            <li class="inline-news" data-id="39" id="news-39"><span class="news-date">(<time datetime="2024-01-13T19:22:05+01:00" title="le 13/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Examen le 17/01/2024</span> <span class="news-body"><p>L’examen d’OL3 aura lieu jeudi 17 janvier 2024.</p>
              </span></li>
            <li class="inline-news" data-id="38" id="news-38"><span class="news-date">(<time datetime="2024-01-11T02:04:33+01:00" title="le 11/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Soutenance Projet IK3</span> <span class="news-body"><p>Les soutenances pour le projet d'IK3 seront le vendredi 18 janvier toutes la journée (8h30-&gt;17h15) le planning sera mis en ligne sur Didel (et dans la rubrique projets de notre site)</p>
              </span></li>
            <li class="inline-news" data-id="36" id="news-36"><span class="news-date">(<time datetime="2024-01-08T23:05:17+01:00" title="le 08/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Rendu projet de PO5</span> <span class="news-body"><p>La date de soumission pour le projet de PO5 est le vendredi 11 janvier 2024 à 18h30 sur Didel</p>
              </span></li>
            <li class="inline-news" data-id="35" id="news-35"><span class="news-date">(<time datetime="2024-01-08T23:00:16+01:00" title="le 08/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Rendu projet de PF5&nbsp;</span> <span class="news-body"><p>La date de soumission pour le projet de PF5 est le vendredi 11 janvier 2024 à 23h59 sur Didel (soumission après le délais impossible)</p>
              </span></li>
            <li class="inline-news" data-id="34" id="news-34"><span class="news-date">(<time datetime="2024-01-08T22:50:21+01:00" title="le 08/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Soutenance du projet</span> <span class="news-body"><p>La soutenance du projet d’OL3 aura lieu mardi 15 janvier 2024, entre 9h et 17h. Vous devrez vous inscrire sur <a href="http://www.doodle.com/ut94tfpdw5v9t7tg">Doodle</a> (une inscription par binôme).</p>
              </span></li>
            <li class="inline-news" data-id="33" id="news-33"><span class="news-date">(<time datetime="2024-01-08T22:44:44+01:00" title="le 08/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Rendu du projet</span> <span class="news-body"><p>Rendu du projet d’OL3 au plus tard le mercredi 9 janvier 2024, 23h59, sur l'espace du <a href="http://didel.script.univ-paris-diderot.fr/claroline/work/work_list.php?assigId=1">projet OL3 sur Didel</a>.</p>
              </span></li>
            <li class="inline-news" data-id="32" id="news-32"><span class="news-date">(<time datetime="2024-01-06T00:09:55+01:00" title="le 06/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Distribution des emplois du temps</span> <span class="news-body"><p>La distribution des emplois du temps du semestre 2 se fera le vendredi 18 janvier 2024 de 13h30 à 15h00 en salle 197A.</p>
              </span></li>
            <li class="inline-news" data-id="31" id="news-31"><span class="news-date">(<time datetime="2024-01-06T00:07:35+01:00" title="le 06/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Examen le 18/01/13</span> <span class="news-body"><p>L’examen d’IK3 aura lieu le vendredi 18 janvier 2024 de 9h00 à 17h00 en salles 442C, 443C, 446C et 436C.</p>
              </span></li>
            <li class="inline-news" data-id="29" id="news-29"><span class="news-date">(<time datetime="2024-01-06T00:05:14+01:00" title="le 06/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Examen le 14/01/13</span> <span class="news-body"><p>L’examen de MI3 aura lieu le lundi 14 janvier 2024 de12h00 à 15h00 en amphi 2A.</p>
              </span></li>
            <li class="inline-news" data-id="28" id="news-28"><span class="news-date">(<time datetime="2024-01-05T23:54:44+01:00" title="le 05/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Examen le 14/01/13</span> <span class="news-body"><p>L’examen d’AL3 aura lieu le lundi 14 janvier 2024 de 8h30 à 11h30 en salles 227C, 165E, 677C.</p>
              </span></li>
            <li class="inline-news" data-id="27" id="news-27"><span class="news-date">(<time datetime="2024-01-05T23:49:57+01:00" title="le 05/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Examen le 09/01/13</span> <span class="news-body"><p>L’examen d’IS1 aura lieu le mercredi 9 janvier 2024 de 16h00 à 19h00 en salles 226C, 265E, 027C, 227C et amphi 1A, bâtiment Halle aux Farines.</p>
              </span></li>
            <li class="inline-news" data-id="26" id="news-26"><span class="news-date">(<time datetime="2024-01-05T23:47:28+01:00" title="le 05/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Examen le 08/01/13</span> <span class="news-body"><p>L’examen de TB1 aura lieu le mardi 8 janvier 2024 de 15h30 à 18h30 en salles 264E, 265E, 247E et 027C.</p>
              </span></li>
            <li class="inline-news" data-id="25" id="news-25"><span class="news-date">(<time datetime="2024-01-05T23:46:39+01:00" title="le 05/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Examen le 08/01/13</span> <span class="news-body"><p>L’examen de PF1 aura lieu le mardi 8 janvier 2024 de 12h00 à 15h00 en amphi 8C, 5C, et salle 247E dans le bâtiment Halles aux Farines, et amphi 2 au bâtiment Olympe de Gouges.</p>
              </span></li>
            <li class="inline-news" data-id="24" id="news-24"><span class="news-date">(<time datetime="2024-01-05T23:44:47+01:00" title="le 05/01/2024">il y a environ un mois</time>)</span> <span class="news-title">Examen le 08/01/13</span> <span class="news-body"><p>L’examen de SD1 aura lieu le mardi 8 janvier à 8h30 en amphi 2A, et salles 264E et 265E.</p>
              </span></li>
          </ul>
        </section>
        
      </div>
    
    
     
</main> 