<main>
    <div class="container">
        <h1>Message prof</h1>
        <form >
          <label for="fname">Nom & prénom professeur</label>
          <input type="text" id="fname" name="firstname" placeholder="Le nom et prénom du professeur">
      
          <label for="sujet">Sujet</label>
          <input type="text" id="sujet" name="sujet" placeholder="L'objet de votre message">
      
          <label for="emailAddress">Classe</label>
          <input id="emailAddress" type="email" name="email" placeholder="quelle est votre classe?">
      
      
          <label for="subject">Message</label>
          <textarea id="subject" name="subject" placeholder="Votre message" style="height:200px"></textarea>
      
          <input type="submit" value="Envoyer">
        </form>
      </div>
</main>

  
