<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <main>
    <header>
      <nav>
        <a href="#">
          Profil
          <div class="icon">&#10095;</div>
          <span class="bottom-line"></span>
        </a>
        <a href="#">
          Cours
          <div class="icon">&#10095;</div>
          <span class="bottom-line"></span>
        </a>
        <a href="#">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/mess.png" alt="recevez les retours du RP">
          Directives
          <div class="icon">&#10095;</div>
          <span class="bottom-line"></span>
        </a>
        <a href="#">
          <img src="C:\Users\LENOVO\Downloads\note-collante.png" alt="">
          TP & TD
          <div class="icon">&#10095;</div>
          <span class="bottom-line"></span>
        </a>
        <a href="#">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/users.png"  alt="">
          Réunion
          <div class="icon">&#10095;</div>
          <span class="bottom-line"></span>
        </a>
      </nav>
    </header>
    <section>
      <h2>Bienvenue Professeur.</h2>
      <p>Que voulez vous faire?</p>
    </section>
  </main>
</body>
</html>