<main>
    <div class="container">
        <h1>Message RP</h1>
        <form >

          <label for="sujet">Sujet</label>
          <input type="text" id="sujet" name="sujet" placeholder="L'objet de votre message">
      
          <label for="emailAddress">Classe</label>
          <input id="emailAddress" type="email" name="email" placeholder="quelle est votre classe?">
      
          <label for="subject">Message</label>
          <textarea id="subject" name="subject" placeholder="Votre message" style="height:200px"></textarea>
      
          <input type="submit" value="Envoyer">
        </form>
      </div>
</main>

  
