<main>
    <div id="container">
        <header id="global_header" class="bar">
          <nav id="global_header_nav">
            <!-- <a href="/" title="Retour à l’accueil" id="main_logo_link">
              <img src="http://www.infop7.org/views/static/images/logo32transp.png" width="32" height="32" alt="IP7" class="logo">
            </a>
             -->
            <ul id="cursus_nav" class="nav-group">
              <li class="navlink cursus"><a href="/cursus/L1"><abbr title="Licence 1">L1</abbr></a></li>
              <li class="navlink cursus"><a href="/cursus/L2"><abbr title="Licence 2">L2</abbr></a></li>
              <li class="navlink cursus"><a href="/cursus/L3"><abbr title="Licence 3">L3</abbr></a></li>
              <li class="navlink cursus"><a href="/cursus/M1"><abbr title="Master 1">M1</abbr></a></li>
              <li class="navlink cursus"><a href="/cursus/M2"><abbr title="Master 2">M2</abbr></a></li>
            </ul>
            
           
            <form id="search" action="/recherche" method="GET">
              <label for="q" class="hidden explicit">Recherche</label>
              <input type="search" id="q" name="q" placeholder="Recherche…" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
              <input type="submit" value="Ok">
            </form>
          </nav>
        </header>
        
        
        <ol id="breadcrumbs">
          <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="navlink">
            <a href="/" itemprop="url">
              <span itemprop="title">Accueil</span>
            </a>
          </li>
          <!-- <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="navlink next">
          <a href="/actus/archives" itemprop="url">
            <span itemprop="title">Archives des actualités</span>
          </a>
          </li>   -->
        </ol>
        
        
        <section id="main_content">
          <ul id="news-list">
            <li class="inline-news" data-id="76" id="news-76"><span class="news-date">(<time datetime="2013-02-10T23:18:16+01:00" title="le 10/02/2024">il y a 1 jours</time>)</span> <span class="news-title">TD</span> <span class="news-body"><p>QCM + une ou deux questions rapides d’écriture de code.</p>
              </span></li>
            <li class="inline-news" data-id="75" id="news-75"><span class="news-date">(<time datetime="2024-02-07T15:26:00+01:00" title="le 07/02/2024">il y a 1 jours</time>)</span> <span class="news-title">TD</span> <span class="news-body"><p>programmation par contraintes.</p>
              </span></li>
            <li class="inline-news" data-id="74" id="news-74"><span class="news-date">(<time datetime="2024-02-07T15:23:09+01:00" title="le 07/02/2024">il y a 4 jours</time>)</span> <span class="news-title">TD</span> <span class="news-body"><p>POO.</p>
              </span></li>
            <li class="inline-news" data-id="73" id="news-73"><span class="news-date">(<time datetime="2024-02-07T15:21:36+01:00" title="le 07/02/2024">il y a 4 jours</time>)</span> <span class="news-title">TD</span> <span class="news-body"><p>Base de  données.</p>
              </span></li>
            <li class="inline-news" data-id="72" id="news-72"><span class="news-date">(<time datetime="2024-02-07T15:20:43+01:00" title="le 07/02/2024">il y a 7 jours</time>)</span> <span class="news-title">TD</span> <span class="news-body"><p>programmation web.</p>
              </span></li>
        
            </ul>
        </section>
        
      </div>
    
    
     
</main> 
